@import 'tailwindcss';

@source '../../resources/views/**/*.blade.php';
@source '../../resources/js/**/*.jsx';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}

.link-item {
    @apply transition-colors duration-300 hover:text-gray-800 dark:hover:text-gray-100 active:text-gray-900 dark:active:text-white font-semibold;
}
.li-item {
    @apply float-left;
}
.sub-menu {
    @apply  absolute left-0 top-full w-max overflow-hidden bg-white dark:bg-gray-950 transition-[max-height] duration-300 ease-in-out;
}

.sub-menu li {
    @apply whitespace-nowrap px-3 py-2;
}

.sub-menu li a {
    @apply px-3 py-2 text-gray-700 dark:text-gray-300 transition-all duration-300;
}

.b-btn {
    @apply px-8 py-3 rounded-3xl shadow font-semibold cursor-pointer;
}

.btn {
    @apply px-5 py-2 rounded-3xl shadow font-semibold cursor-pointer;
}
.btn-outline-white {
    @apply border-[0.1rem] border-gray-950 dark:border-white text-gray-950 dark:text-white hover:bg-gray-950 dark:hover:bg-white active:bg-gray-900 dark:active:bg-gray-100 hover:text-white dark:hover:text-gray-950 transition-colors duration-300;
}

@utility animate-fadeInLoad {
    animation: fadeIn 1s ease-out forwards;
}

@utility animate-fadeInsideBar {
    animation: fadeInsideBar 0.4s ease-out forwards;
}
@utility animate-fadeOutSideBar {
    animation: fadeOutSideBar 0.4s ease-out forwards;
}

@keyframes fadeInsideBar {
    from {
        transform: translateX(100%);
    } to {
          transform: translateX(0);
      }
}

@keyframes fadeOutSideBar {
    from {
        transform: translateX(0);
    } to {
          transform: translateX(100%);
      }
}

@keyframes fadeIn {
    0%, 55% {
        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}

@utility animate-opacityLoad {
    animation: opacity 1s ease-out forwards;
}
@keyframes opacity {
    0%, 80% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: all;
    }
}

.normal-text {
    @apply text-gray-950 dark:text-white;
}

.sm-container {
    @apply px-5 sm:px-0;
}

.card {
    @apply bg-white dark:bg-[#0d1117] rounded-xl overflow-hidden shadow shadow-gray-200 dark:shadow-gray-700;
}
.card-top {
    @apply w-full h-[220px] object-cover object-center;
}
.card-body {
    @apply w-full min-h-[180px] max-h-[180px] p-5 space-y-5;
}
