@import 'tailwindcss';

@source '../../resources/views/**/*.blade.php';
@source '../../resources/js/**/*.jsx';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.link-item {
    @apply transition-colors duration-300 hover:text-gray-800 dark:hover:text-gray-100 active:text-gray-900 dark:active:text-white font-semibold;
}
.li-item {
    @apply float-left;
}
.sub-menu {
    @apply  absolute left-0 top-full w-max overflow-hidden bg-gray-100 dark:bg-gray-950 transition-[max-height] duration-300 ease-in-out;
}

.sub-menu li {
    @apply whitespace-nowrap px-3 py-2;
}

.sub-menu li a {
    @apply px-3 py-2 text-gray-700 dark:text-gray-300 transition-all duration-300;
}

.b-btn {
    @apply px-8 py-3 rounded-3xl font-semibold cursor-pointer;
}

.btn {
    @apply px-5 py-2 rounded-3xl font-semibold cursor-pointer;
}
.btn-outline-white {
    @apply border-[0.1rem] border-gray-950 dark:border-white text-gray-950 dark:text-white hover:bg-gray-950 dark:hover:bg-white active:bg-gray-900 dark:active:bg-gray-100 hover:text-white dark:hover:text-gray-950 transition-colors duration-300;
}

@utility animate-fadeInLoad {
    animation: fadeIn 1s ease-out forwards;
}

@utility animate-fadeInsideBar {
    animation: fadeInsideBar 0.4s ease-out forwards;
}
@utility animate-fadeOutSideBar {
    animation: fadeOutSideBar 0.4s ease-out forwards;
}

@keyframes fadeInsideBar {
    from {
        transform: translateX(100%);
    } to {
          transform: translateX(0);
      }
}

@keyframes fadeOutSideBar {
    from {
        transform: translateX(0);
    } to {
          transform: translateX(100%);
      }
}

@keyframes fadeIn {
    0%, 55% {
        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}

@utility animate-opacityLoad {
    animation: opacity 1s ease-out forwards;
}
@keyframes opacity {
    0%, 80% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: all;
    }
}

.normal-text {
    @apply text-gray-950 dark:text-white;
}

.sm-container {
    @apply px-5 sm:px-0;
}

.card {
    @apply bg-white dark:bg-[#0d1117] rounded-xl overflow-hidden shadow shadow-gray-200 dark:shadow-gray-700;
}
.card-top {
    @apply w-full h-[220px] object-cover object-center;
}
.card-body {
    @apply w-full min-h-[200px] max-h-[180px] p-5 space-y-5 relative;
}
.card-btn {
    @apply absolute bottom-[1.25rem] left-[1.25rem] w-[calc(100%-(1.25rem*2))];
}
.dark-bg {
    @apply dark:bg-[#1E1F25];
}
.main-btn {
    @apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white transition-colors duration-300;
}
.form-btn {
    @apply bg-gray-100 text-black border border-gray-200 hover:bg-gray-200 hover:border-gray-300
        dark:bg-[#21242a] dark:hover:bg-gray-800 dark:active:bg-gray-950 dark:text-white dark:border-gray-700 dark:hover:border-gray-800
        transition-colors duration-300 px-4 py-2 rounded-4xl shadow font-semibold cursor-pointer;
}

.form-label {
    @apply text-gray-950 dark:text-white font-semibold block mb-1 text-sm;
}
.form-control {
    @apply bg-white pl-3 dark:bg-gray-950 border border-gray-200
    focus:border-gray-300 dark:focus:border-gray-600 dark:border-gray-700 py-2 w-full rounded-4xl dark:text-white
    focus:outline-none
    focus:ring-0
    active:outline-none
    active:ring-0;
}

form > div {
    @apply mb-1;
}

.form-message {
    @apply text-sm text-gray-500 dark:text-gray-300 mt-1;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0.3;
        transform: translateY(0);
    }
}

@utility animate-fadeUp {
    animation: fadeUp 1.2s ease-in-out infinite;
}

.profile {
    @apply size-10 cursor-pointer bg-gray-950 hover:bg-gray-800 relative hidden md:block dark:bg-white dark:hover:bg-gray-200 transition-colors duration-150 rounded-full text-center leading-10 text-xl text-white dark:text-gray-950;
}

.prompt-form::-webkit-scrollbar {
    @apply hidden;
}

*::-webkit-scrollbar {
    @apply bg-transparent w-[5px];
}
*::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full;
}


@utility animate-in-modal {
    animation: fade-in-modal 0.5s ease-in-out forwards;
}
@keyframes fade-in-modal {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@utility animate-out-modal {
    animation: fade-out-modal 0.5s ease-in-out forwards;
}
@keyframes fade-out-modal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}
